<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>TimeSheet</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />



</head>
<body>
    @RenderBody()

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>